<h1>Ongoing Elections</h1>
{{#each elections}}
{{#if this.active}}
<form method="get" action="/election">
<div class="card" onclick="javascript:this.parentNode.submit();">
    <div style="margin-left: 20px;">
        <p class="card-text">
            {{this.name}}<br/>
            {{this.state}}<br/>
            {{this.date}}<br/>
        </p>
    </div>
    <input type="hidden" name="id" value="{{this.id}}"/>
</div>
</form>
{{else}}
<div class="card-selected">
    <div style="margin-left: 20px;">
        <p class="card-text">
            {{this.name}}<br/>
            {{this.state}}<br/>
            {{this.date}}<br/>
        </p>
    </div>
</div>
{{/if}}
{{/each}}
